
<div>
  <button type="button" onclick="hanoi()">Hà Nội</button>
  <button type="button" onclick="tokyo()">Tokyo</button>
  <button type="button" onclick="saigon()">TP Hồ Chí Minh</button>
  <button type="button" onclick="luanda()">Luanda</button>
  <button type="button" onclick="roma()">Roma</button>
  <button type="button" onclick="seoul()">Seoul</button>
  <button type="button" onclick="manila()">Manila</button>
  <button type="button" onclick="doha()">Doha</button>
  <button type="button" onclick="danang()">Đà Nẵng</button>

</div>
